.formInput {
  padding: 10px;
  border-radius: 8px;
  outline: none;
  width: 60%;
}
.formBtn {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}
.formBtn:hover {
  background-color: goldenrod;
}
.form {
  display: flex;
  justify-content: space-between;
  width: 600px;
}
.formDiv {
  display: flex;
  align-items: center;
}
